# Managed by Ansible: linux_hardening
# Disable risky or unnecessary kernel modules.

{% for group in linux_hardening_module_groups %}
# {{ group.comment }}
{% if group.details is defined %}# {{ group.details }}
{% endif %}{% for module_name in group.entries %}install {{ module_name }} /bin/false
blacklist {{ module_name }}
{% endfor %}
{% if not loop.last %}
{% endif %}{% endfor %}
