[defaults]
inventory = inventory/production.yml
roles_path = roles
host_key_checking = False
retry_files_enabled = False
home = /tmp/.ansible-home
local_tmp = /tmp/.ansible-local
remote_tmp = /tmp/.ansible-remote

[ssh_connection]
pipelining = True
